table.sortable th:hover {
	cursor: pointer;
}

table.sortable th:hover {
	background-color: #000;
	color: #fff;
}

th.ascending {
    background-color: aqua;
}

th.descending {
    background-color: yellowgreen;
}

tr, thead, tbody {
    border: solid 2px blue;
    margin: 0;
}

td, th {
    border-left: solid 2px blue;
    padding: 5px;
}